# Mac file system files
*.DS_Store
mit_course_*/
*-pickle
tfidf-transformer
coursera/
__pycache__
# jupyter notebook autosaving files
.ipynb_checkpoints

# Latex temp files
*.fdb_latexmk
*.log
*.synctex.gz
*.aux
*.fls
